{% extends "base.html" %}

{% block content %}
<a href="{% url 'expenses:category-new' %}" >Add category</a>
<a href="{% url 'expenses:expense-list' %}" >Expenses</a>
<table border="1">
      <thead>
        <tr>
          <th>no.</th>
          <th>category</th>
          <th>description</th>
          <th>date</th>
        </tr>
      </thead>
      <tbody>
      {% for obj in object_list %}
        <tr>
          <td>{{ page_obj.start_index|add:forloop.counter0 }}.</td>
          <td><a href="{% url 'expenses:category-detail' pk=obj.pk %}">{{ obj.name|default:"-" }}</a></td>
          <td></td>
          <td></td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="6">no items</td>
        </tr>
    {% endfor %}
</table>

{% endblock %}
