{% extends "base.html" %}

{% block content %}
<a href="{% url 'expenses:category-new' %}" >Add category</a>
<a href="{% url 'expenses:expense-list' %}" >Expenses</a>
<table border="1">
      <thead>
        <tr>
          <th>pk</th>
          <th>category</th>
          <th>actions</th>
          <th>expenses amount</th>
        </tr>
      </thead>
      <tbody>
      {% for obj in object_list %}
        <tr>
          <td>{{obj.pk}}</td>
          <td><a href="{% url 'expenses:category-detail' pk=obj.pk %}">{{ obj.name|default:"-" }}</a></td>
          <td><a href="{% url 'expenses:category-update' pk=obj.pk %}">update</a> <a href="{% url 'expenses:category-remove' pk=obj.pk %}">delete</a></td>
          <td>{{ obj.expenses_amount}}</td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="6">no items</td>
        </tr>
    {% endfor %}
</table>

{% endblock %}
